@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

body{
  background-color: rgba(255, 255, 255, 0.329);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Open Sans;
  // font-family: roboto !important;
  max-width: 1440px;
  margin: 0 auto
}
* {
  box-sizing: border-box;
}

.containers{
  position: relative;
  box-sizing: border-box;
  @media screen and (max-width:499px) {
    margin: 0;
    padding: 0;
  }
  @media screen and (min-width: 500px){
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  @media screen and (min-width: 1000px){
    flex-direction: row;
    justify-content: space-between;
  }
}

.slideshow{
  z-index: 0;
  width: 100%;
  position: fixed;
  top: 0;
  margin-top: 54px;
  @media screen and (min-width: 500px){
    width: 100%;
    position: relative;
    max-height: 600px;
    margin-top: 54px;
  }
  @media screen and (min-width: 1000px){
    width: 49%;
    position: relative;
    max-height: 600px;
    margin-bottom: 30px;
    margin-top: 54px;
    align-self: stretch
  }
  
}

.owl-carousel{
  z-index: 0;
  img{
    object-fit: cover;
    height: 400px;
    @media screen and (min-width: 500px){
      min-width: 100%;
      min-height: 600px;
      max-height: 600px;
      border-radius: 20px
    }
    @media screen and (min-width: 1000px){
      min-height: 630px;
      align-self: stretch
    }
  }
}


.description{
  z-index: 10;
  position: relative;
  border-radius: 20px;
  margin-top: 410px;
  width: 100vw;
  @media screen and (max-width:767px){
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0
  }
  padding-bottom: 20px;
  @media screen and (min-width: 500px){
    margin-top: -30px;
    width: 100%;
    z-index: 0;
    position: static;
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.25);
  }
  @media screen and (min-width: 1000px){
    width: 49%;
    position: relative;
    margin-top: 54px;
    align-self: stretch
  }
  background-color: white;
  button{
    border-style: none;
    outline: none;
    position: relative;
    background: #FF9900;
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    bottom: 10px;
    transform: translateX(-50%);
    left: 50%;
    width: 217px;
    height: 48px;
    color: white;
    margin-top: 30px;
    @media screen and (min-width: 768px){
      position: relative;
    }
  }
  .description-header{
  display: flex;
  height: auto;
  border-bottom: 1px solid rgba(0, 0, 0, 0.17);
  .left-header{
    padding: 12px;
    
    
    display: flex;
    align-items: center;
    h3{
      font-size: 18px;
      margin-bottom: 0;
      font-weight: bold
    }
  }
  .right-header{
    background: #007E72;
    min-width: 160px;
    margin-left: auto;
    
    padding: 10px 0 10px 16px;
    border-top-right-radius: 20px;
      h3{
        font-size: 22px;
        font-weight: bold;
        margin: 0;
        color: white;
        width: 100%;
      }
    }
  }
}

.location{
  padding: 10px 16px 10px 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.17);
  font-family: roboto;
  
  .address-div{
    width: 100%;
  }
  div{
    @media screen and  (min-width: 768px) {
      width: 30%;
    }
    @media screen and (min-width: 1000px) {
      width: 35%;
  }
    
  }
  div:nth-child(1){
    width: 38%;
    @media screen and (min-width: 1000px) {
      
        width: 38%;
        
      
    }
  }
  .address{
    font-weight: bold;
    width: 100%;
  }

  p{
    font-size: 11px;
    width: 100%
  }

}


.home-location{
  padding: 10px 0 10px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.17);
  font-family: roboto;
  min-height: 69px;
  .address-div{
    width: 100%;
    box-sizing: border-box;
  }
  div:nth-child(1){
    width: 38% !important;
    
  }
  .address{
    font-weight: bold;
    width: 100%;
  }

  p{
    font-size: 11px;
    width: 100%
  }

}

.notes{
  h4{
    font-size: 18px;
    font-weight: bold
  }
  p{
    font-size: 15px;
    line-height: 18px; 
    margin: 0; 
  }
}

.header{
  position: fixed;
  z-index: 100;
  top: 0;
  max-width: 1440px;
  margin:0;
  background-color: white;
  width:100%;
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.25);
}

.bar1, .bar2, .bar3{
    width: 30px;
    height: 2px;
    background-color: black;
    margin-bottom: 8px;
    transition: 0.5s ease
}

.bar3{
  margin-bottom: 0
}

.close .bar1{
  transform: rotate(-45deg) translate(-9px, 7px) ;
}

.close .bar2{
  opacity: 0
}

.close .bar3{
  transform: rotate(45deg) translate(-6px, -6px) ;
}

.big-screen-nav{
  width: 100%;
  position: relative;
  height: 54px;
}

.big-screen-lists ul{
  list-style: none;
}

.big-screen-lists li a{
  color: black;
  text-decoration: none;
}

.small-screen-lists{
  position: absolute;
  // bottom: 100%;
  top: -700%;
  left: 0;
  opacity: 0;
  width: 100%;
  transition: 0.7s ease;
  z-index: 100;
  background-color: #007E72
}

.open{
  opacity: 1;
  top: 54px
}

.small-screen-lists ul{
  list-style: none;
  padding: 15px 0 15px 0;
}

.small-screen-lists ul li{
  padding: 15px 0 15px 0 !important;
}

.small-screen-lists ul li a{
  color: white;
  
}

.homepage-slide{
    margin-top: 54px;
  .owl-carousel{
    z-index: 0 !important;
   
    img{
      object-fit: cover;
      max-height: auto;
      min-height: 600px !important;
      border-radius: 0px;
      @media screen and (max-width: 600px) {
        min-height: auto !important;
        height: auto !important;
      }
      @media screen and (min-width:1200px){
        min-height: 750px !important;
      }
    }
  }
}

.big-screen-category{
  hr{
    width: 30px;
    margin-top: 10px;
    border-top: 3px solid rgba(69, 233, 197, 0.842);
  }
  h2{
    font-weight: bold
  }
}
.estate-component{
  color: black;
  margin-bottom: 20px;
  @media screen and (min-width: 768px) and (max-width: 992px) {
    width: 310px
  }
  @media screen and (min-width: 992px){
    width: 330px
  }
  .estate-div{
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 12px;
    transition: 0.3s ease-in;
   &:hover{
    box-shadow: 0px 0px 3px 2px rgba(19, 148, 105, 0.25);
    transform: scale(1.01);
    transition: 0.3s ease-in
   }
    .houseImg{
      width: 100%;
      padding: 6px;
      border:1px solid grey;
      border-radius: 10px;
      height: 200px;
      object-fit: cover;
    }
    .location{
      margin-top: 20px;
      padding: 0;
      border: none !important
    }
  }
}

.stroked{
  text-decoration: line-through black
}

.form1{
  width: 90%;
  position: fixed;
  top: 52%;
  left: 50%;
  padding: 20px;
  z-index: 100;
  opacity: 0;
  max-height: 100vh;
  color:white;
  pointer-events: none;
  transform: translate(-50%,-50%);
  @media screen and (min-width: 768px) {
    width: 50%;
  }
  background-color: rgb(2, 80, 72);
  border-radius: 15px;
  input{
    width: 100%;
    border-style: none;
    border-radius: 5px;
    outline: none;
    padding: 10px;
  }
  textArea{
    width: 100%;
    border-style: none;
    border-radius: 5px;
    outline: none;
    padding: 10px;
  }
  button{
    border-style: none;
    border-radius: 8px;
    outline: none;
    padding: 10px;
    background-color: white;
    color: black

  }
}

.modals{
  opacity: 1 !important;
  z-index: 100;
  pointer-events: all
}

.cancel-btn{
  border-style: none;
    border-radius: 8px;
    outline: none;
    padding: 10px;
    background-color: white;
    color: black;
    cursor: pointer;
}

.estates-container{
  justify-content:space-evenly
}

.managers{
  justify-content: space-evenly;
  border: 1px solid rgb(65, 223, 184);
  border-radius: 15px;
  div{
    width: 300px;
  }
  img{
    border-radius: 50%;
    border: 1px solid rgb(65, 223, 184);
  }
}
.about-text{
  padding: 16px;
  border-left: 2px solid rgb(65, 223, 184);
  margin-bottom: 30px
}

.mobile-values{
  @media screen and (max-width: 500px) {
    width: 100%;
  }
}

.footer-email{
  width: 70%;
  outline: none;
  border-style: none;
  border-radius: 5px;
  padding: 10px;

}

.footer{
  background-color: #007E72;
  padding: 20px 0 20px 0;
  position: relative;
  color: white;
  z-index: 10 !important;
  button{
    outline: none;
    border-style: none;
    border-radius: 5px;
    padding: 10px;
    background-color: #FF9900;
    color: white;
  }
}

.whatsapp{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: fixed;
  bottom: 30px;
  z-index: 100;
  @media screen and (min-width:992px){
    width: 70px;
    height: 70px
  };
  @media screen and (min-width:1560px){
    display: none
  };
  left: 5px;
  background-color: white;
  padding: 5px;
  img{
    width: 100%;
  }
}



.bounce{
  animation: bounce 2s infinite;
}


.estates-link{
  a{
    text-decoration: none !important;
  }
 &:hover{
    text-decoration: none !important;
    text-decoration-line: none;
  }
}

@keyframes bounce {
  0%   {bottom: 0px;}
  50%  {bottom: 5px;}
  100% {bottom: 0px;}
}

.success-cover{
  height: 100vh;
  z-index: 100000000;
  position: fixed;
  display: flex;
  top: 0;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  align-items: center;
  flex-direction: column;
  padding: 30px;
  width: 100%;
  background-color: #007E72;
  button{
    border-radius: 30px;
    padding: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 160px;
    background-color: white;
    border-style: none;
  }
}

.backbtn{
  background-color: #007E72;
  padding: 8px 15px;
  position: absolute;
  border-radius: 10px;
  z-index: 100;
  top: 30px;
  left: 15px;
  color: white
}

.cover{
  height: 100vh;
  z-index: 100000000;
  position: fixed;
  display: flex;
  top: 0;
  justify-content: center;
  opacity: 1;
  transition: 1s ease;
  pointer-events: none;
  align-items: center;
  flex-direction: column;
  padding: 30px;
  width: 100%;
  background-color: #007E72;
  .cover-page{
    width: 200px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
  }
}

span{
  color: #FF9900 !important;
  font-weight: bold
}