@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
body{
  background-color: rgba(255, 255, 255, 0.329);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // font-family: Open Sans;
  font-family: roboto !important;
  max-width: 1440px;
  margin: 0 auto
}
* {
  box-sizing: border-box;
}

.containers{
  position: relative;
  box-sizing: border-box;
  @media screen and (min-width: 768px){
    display: flex;
    align-items: flex-start;
    padding: 20px;
  }
}

.slideshow{
  max-height: 400px;
  width: 100%;
  position: fixed;
  top: 0;
  @media screen and (min-width: 768px){
    width: 50%;
    max-height: auto;
    margin-top: 20px;
  }
  .owl-carousel{
    z-index: 0;
  }
  img{
    object-fit: cover;
    min-height: 400px;
    @media screen and (min-width: 768px){
      min-width: 100%;
      max-height: auto;
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px
    }
  }
}

.description{
  position: relative;
  z-index: 10;
  border-radius: 20px;
  margin-bottom: 20px;
  margin-top: 360px;
  padding-bottom: 20px;
  box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.25);
  @media screen and (min-width: 768px){
    margin-top: 0;
    margin-left: 53%;
    width: 50%;
  }
  background-color: white;
  button{
    border-style: none;
    outline: none;
    position: relative;
    background: #FF9900;
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    bottom: 10px;
    transform: translateX(-50%);
    left: 50%;
    width: 217px;
    height: 48px;
    color: white;
    margin-top: 30px;
    @media screen and (min-width: 768px){
      position: relative;
    }
  }
  .description-header{
  display: flex;
  height: auto;
  border-bottom: 4px solid rgba(0, 0, 0, 0.17);
  .left-header{
    padding: 12px;
    height: 70px;
    padding-right: 40px;
    h3{
      font-size: 22px;
      font-weight: bold
    }
  }
  .right-header{
    background: #007E72;
    min-width: 130px;
    margin-left: auto;
    height: 70px;
    padding: 10px 0 10px 16px;
    border-top-right-radius: 20px;
      h3{
        font-size: 22px;
        font-weight: bold;
        margin: 0;
        color: white;
        width: 100%;
      }
    }
  }
}

.location{
  padding: 10px 16px 10px 16px;
  border-bottom: 4px solid rgba(0, 0, 0, 0.17);
  div:nth-child(1){
    width: 38%;
  }
  .address{
    font-weight: bold
  }
  p{
    font-size: 11px;
  }

}

.notes{
  h4{
    font-size: 18px;
    font-weight: bold
  }
  p{
    font-size: 15px;
    line-height: 18px; 
    margin: 0; 
  }
}
